includes:
    #- vendor/tomasvotruba/bladestan/config/extension.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 9

    paths:
        - config
        - resources/views
        - routes
        - src
        - tests

    excludePaths:
        - 'output/*'

    treatPhpDocTypesAsCertain: false

    # editorUrl: 'vscode://file/%%file%%:%%line%%'
    # editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
