includes:
    - vendor/tomasvotruba/bladestan/config/extension.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: max

    paths:
        - config
        - resources/views
        - routes
        - src
        - tests

    excludePaths:
        - 'output/*'

    treatPhpDocTypesAsCertain: false

    # editorUrl: 'vscode://file/%%file%%:%%line%%'
    # editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

    ignoreErrors:
            -
                message: "#Called 'env' outside of the config directory which returns null when the config is cached, use 'config'.#"
                path: *config/*.php

            -
                message: "~view expects view-string~"
                path: *src/Http/Controllers/*.php
